# Dependencies
node_modules/
dist/
.env

# IDE
.vscode/
.idea/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for uploaded files
uploads/

# Testing
coverage/

# System Files
.DS_Store
Thumbs.db